body {
    background: #000;
}
.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -125px;
    width: 500px;
    height: 100px;

}
.button-start,
.button-stop {
    font-size: 15px;
    color: white;
    border: 1px solid #000;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
}
.button-start {
    background: rgb(28, 184, 65); /* this is a green */
}
.button-stop {
    background: rgb(202, 60, 60); /* this is a maroon */
}

